<%include ./partials/header %>
<h1 class = "display">NOT SUCCESFULL</h1>
<h2>Please adhere to the following Instructions and try again</h2>
	<ul class="ui middle aligned animated list">
		<div class="item">
			<li>Image must be in jpg file format</li>
			<li>Doc1 must be in pdf file format</li>
			<li>Doc2 must be in doc file format</li>
		</div>
	</ul>
 
  
<%include ./partials/footer %>

