<%include ./partials/header %>
    <div class="ui main text container segment">
    <h1>NATIONAL DRIVER'S LICENSE</h1>
    <p>Welcome to the Driver's License Application Portal</p>
    <a href="/auth/facebook" <button class="ui facebook button">
  <i class="facebook icon"></i>
  Sign in with Facebook
</button> </a>
</div>

<%include ./partials/footer %>