<%include ./partials/header %>

<div class="ui main text container segment">
    
    <div class="ui huge header">LOGIN</div>

    <form class="ui form" action="/process/login" method="POST">
        <div class="field">
    <input type="text" name="username" placeholder="username" />
        </div>
        
        <div class="field">
    <input type="text" name="password" placeholder="password" />
        </div>
        
    
    <button class = "ui blue button">LOGIN</button>
    </form>


<%include ./partials/footer %>