<%include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">SIGN UP</div>


    <form class="ui form" action="/review/register" method="POST">
        <div class="field">
    <input type="text" name="username" placeholder="username" />
     </div>
        
        <div class="field">
    <input type="text" name="password" placeholder="password" />
     </div>
    
        
    <button class = "ui blue button">REGISTER</button>
</form>


<%include ./partials/footer %>