<%include ./partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">REVIEWER</div>
        <p>
            <div class="field">
                <a class="fluid ui button" href="/review/register">REGISTER</a>
            </div>
        </p>
        
        <p>
            <div class="field">
                <a class="fluid ui button" href="/review/login">LOGIN</a>
            </div>
        </p>
        
        <p>
            <div class="field">
               <a class="fluid ui button" href="/logout">LOGOUT</a>
            </div>
        </p>
        
    </div>
</div>

<%include ./partials/footer %>